.scene {
    -fx-background-color: linear-gradient(to bottom, #F9E6CF, #fff7eb);
}

.button {
    -fx-padding: 20 25; 
    -fx-background-color: #f7d39c; 
    -fx-border-color: #f7d39c; 
    -fx-border-width: 2; 
    -fx-text-fill: #3b1427; 
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, #dc6da1, 0, 0, 5, 5);
    -fx-translate-y: 0; 
    -fx-translate-x: 0; 
    -fx-font-size: 20;
}

.button:hover {
    -fx-effect: none; 
    -fx-translate-y: 5px; 
    -fx-translate-x: 5px; 
}


.buttonSmall {
    -fx-padding: 15 20; 
    -fx-background-color: #f7d39c; 
    -fx-border-color: #f7d39c; 
    -fx-border-width: 2; 
    -fx-text-fill: #3b1427; 
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, #dc6da1, 0, 0, 5, 5);
    -fx-translate-y: 0; 
    -fx-translate-x: 0; 
    -fx-font-size: 20;
}

.buttonSmall:hover {
    -fx-effect: none; 
    -fx-translate-y: 5px; 
    -fx-translate-x: 5px; 
}

.header {
    -fx-font-weight: bold; 
    -fx-font-size: 40;
    -fx-pref-width: 50%;
    -fx-pref-height: 30em;
    -fx-fill: #69247C;
    -fx-effect: dropshadow(gaussian, #FAC67A, 0, 0, 3, 1);
    -fx-border-width: 0 0 0.2em 0;
}

.subheader {
    -fx-font-size: 25;
    -fx-pref-width: 50%;
    -fx-pref-height: 30em;
    -fx-fill: #69247C;
}

.text{
    -fx-pref-width: 50%;
    -fx-pref-height: 30em;
    -fx-fill: #69247C;
}




/* other buttons that i couldnt figure out a structure for in the java codes so they just use translate y and x */
.hint-button {
    -fx-translate-y: 610;
    -fx-translate-x: 850;
    -fx-font-size: 16pt;
    -fx-padding: 15 20; 
    -fx-background-color: #f7d39c; 
    -fx-border-color: #f7d39c; 
    -fx-border-width: 2; 
    -fx-text-fill: #3b1427; 
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, #dc6da1, 0, 0, 5, 5);
}
.hint-button:hover {
    -fx-effect: none; 
    -fx-translate-y: 615px; 
    -fx-translate-x: 855px; 
}
.get-result-button {
    -fx-translate-y: 85;
    -fx-font-size: 16pt;
    -fx-padding: 15 20; 
    -fx-background-color: #f7d39c; 
    -fx-border-color: #f7d39c; 
    -fx-border-width: 2; 
    -fx-text-fill: #3b1427; 
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, #dc6da1, 0, 0, 5, 5);

}
.get-result-button:hover {
    -fx-effect: none; 
    -fx-translate-y: 90px; 
    -fx-translate-x: 5px; 
}

.redo-button {
    -fx-translate-y: 610;
    -fx-translate-x: 720;
    -fx-font-size: 16pt;
    -fx-padding: 15 20; 
    -fx-background-color: #f7d39c; 
    -fx-border-color: #f7d39c; 
    -fx-border-width: 2; 
    -fx-text-fill: #3b1427; 
    -fx-font-weight: bold; 
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, #dc6da1, 0, 0, 5, 5);

}
.redo-button:hover {
    -fx-effect: none; 
    -fx-translate-y: 615px; 
    -fx-translate-x: 725px; 
}

/* color wheel stuff */
.color-wheel {
    -fx-translate-x: 800;
}

.current-color {
    -fx-translate-y: 90;
    -fx-translate-x: 890;
}

.color-status {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: red;
    -fx-translate-x: 450;
}


.cn-text {
    -fx-translate-y: 120;
    -fx-font-size: 16;
}

.unique-color-text {
    -fx-translate-y: 140;
    -fx-font-size: 16;
}

.timecon {
    -fx-pref-width: 150px;
    -fx-pref-height: 75px;
    -fx-border-width: 5px;
    -fx-border-color: #FAC67A;
    -fx-translate-y: 600px;
}

.timecon > Text {
    -fx-font-size: 75px;
    -fx-text-alignment: center;
    -fx-text-fill: #FAC67A;
}


.hint-text {
    -fx-translate-y: 630;
    -fx-translate-x: 850;
    -fx-font-size: 16;
}