.label-status{
    -fx-translate-y: -100px;
    -fx-font-size: 40px
}

.button {
    -fx-pref-width: 200px;
    -fx-padding: 10px;
    -fx-border-color: gray;
    -fx-background-color: white;
    -fx-translate-y: 20px;
}

.button:hover {
    -fx-background-color: #f0f0f0;
}

.btn-import{
    -fx-font-size: 30px;
}

.btn-play{
    -fx-font-size: 30px;
    -fx-translate-y: 100px;
}

.back-button {
    -fx-font-size: 20px;
    -fx-translate-y: 300px;
    -fx-translate-x: -400px;
}